@import url("https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import url("https://use.typekit.net/giw7ukj.css");

/* Variables
============================ */
$color-dark: #494949;
$color-dark-faded: fade-out($color-dark, 0.99);
$color-light: white;
$parallax-height: 100vh;
$center-margin: 0px auto;

$list1: $color-dark, $color-dark-faded;

@mixin gradient($direction, $list) {
	background: -webkit-linear-gradient($direction, $list);
	background: -moz-linear-gradient($direction, $list);
	background: -o-linear-gradient($direction, $list);
	background: linear-gradient($direction, $list);
}

@mixin box-shadow($x-offset, $y-offset, $blur, $spread, $color) {
	-webkit-box-shadow: $x-offset $y-offset $blur $spread $color;
	-moz-box-shadow: $x-offset $y-offset $blur $spread $color;
	box-shadow: $x-offset $y-offset $blur $spread $color;
}

@mixin background-size($type) {
	background-size: $type;
	-webkit-background-size: $type;
	-moz-background-size: $type;
	-o-background-size: $type;
}

@mixin parallax-background($file) {
	background-image: url($file);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	@include background-size(cover);
}

/* ============================
Main
============================ */
* {
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
	font-family: "Sintony", sans-serif;
	color: $color-dark;
	text-transform: uppercase;
	letter-spacing: 0.06em;
}

#first,
#content-one {
	@include parallax-background(
		"https://cdn.web.uta.edu/-/media/project/website/news/publications/uta-magazine/2024-summer/articles/research/LSAMP_Story_Title.ashx"
	);
}

#first h1 {
  font-weight: bold;
  padding-bottom: 2%;
}
#storybody {
  background-color: white;
}

#storybody p {
  color: black;
  text-align: left;
  text-transform: none;
  padding: 1%;
}

#storybody h2 {
  text-align: center;
  padding: 2%;
  font-weight: bold;
  font-size: 40px;

}

.gradient {
	@include gradient(0deg, $list1);
}

#second,
#content-two {
	@include parallax-background(
		"https://cdn.web.uta.edu/-/media/project/website/news/publications/uta-magazine/2024-summer/articles/research/cablecar_NG.ashx"
	);
}

#third,
#content-three {
	@include parallax-background(
		"https://cdn.web.uta.edu/-/media/project/website/news/publications/uta-magazine/2024-summer/articles/research/YouAreHere.ashx"
	);
}

#fourth,
#content-four {
	@include parallax-background(
		"https://cdn.web.uta.edu/-/media/project/website/news/publications/uta-magazine/2024-summer/articles/research/LungCliff.ashx"
	);
}

#third,
#content-three {
	@include parallax-background(
		"https://cdn.web.uta.edu/-/media/project/website/news/publications/uta-magazine/2024-summer/articles/research/YouAreHere.ashx"
	);
}

#fifth,
#content-five {
	@include parallax-background(
		"https://cdn.web.uta.edu/-/media/project/website/news/publications/uta-magazine/2024-summer/articles/research/Microscope.ashx"
	);
}

#sixth,
#content-six {
	@include parallax-background(
		"https://cdn.web.uta.edu/-/media/project/website/news/publications/uta-magazine/2024-summer/articles/research/Fly.ashx"
	);
}

.parallax {
	width: 100%;
	height: $parallax-height;
	perspective: 1px;
	transform: translateZ(-1);
	overflow-x: hidden;
	overflow-y: auto;


	h1,
	h2 {
		color: white;
		text-align: center;
		transform: translateZ(-1px);
	}
	h1 {
		font-size: 100px;
		font-family: 'Oskar';
		text-shadow: 5px 5px 8px red;
	}
	h2 {
		font-size: 50px;
		font-weight: lighter;
    text-transform: none;
	}
}

p {
  /*
	text-wrap: balance;
  */
	width: 80%;
  padding: 1%;
	margin: $center-margin;
	text-align: center;
	font-size: 20px;
	font-weight: 200;
	line-height: 1.3;
	color: $color-light;
  font-family: 'Oskar', sans-serif;
  font-style: normal;
}

.strong {
  font-weight: bold;
}

h4 {
	text-wrap: balance;
	width: 80%;
	padding: 10px;
	margin: $center-margin;
	text-align: center;
	font-size: 3rem;
	font-weight: 200;
	line-height: 1.4;
	color: $color-light;
  font-family: 'Oskar', sans-serif;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  font-style: normal;
}

h5 {
	text-wrap: balance;
	width: 80%;
	padding: 1%;
	margin: $center-margin;
	text-align: center;
	font-size: 9rem;
	font-weight: 200;
	line-height: 1.4;
	color: $color-light;
  font-family: "pauline-script", sans-serif;
  text-transform: none;
}

.jjtitle {
  text-shadow: 2px 3px 7px #3B1E5F, 
      0 10px 1px #3B1E5F;
}

.cctitle {
  text-shadow: 2px 3px 7px #e273a0, 
      0 10px 1px #e273a0;
}


.bvtitle {
  text-shadow: 2px 3px 7px #8292b9, 
      0 10px 1px #8292b9;
}

.cntitle {
  text-shadow: 2px 3px 7px #816ba8, 
      0 10px 1px #816ba8;
}

.algtitle {
  text-shadow: 2px 3px 7px #b491ad, 
      0 10px 1px #b491ad;
}

.big {
  font-size: 80px;
  padding: 5px;
}

.spacing {
  padding: 10px;
}
.parallax h6 {
	color: white;
	text-align: center;
	transform: translateZ(-1px);
	font-size: 200px;
	font-family: 'pauline-script', sans-serif;
	text-transform: none;
	text-shadow: 5px 5px 8px red;
	margin-bottom: 6rem;
	letter-spacing: 1px;
	padding-top: 5px;
	margin-top: 15rem;
	animation: pulse 3s infinite;
  }

  @keyframes pulse {
	0% {
		transform: scale(1);
		text-shadow: 4px 4px 6px rgb(193, 113, 113), 0 0 10px rgba(255, 49, 3, 0.628);
	}
	50% {
		transform: scale(1.05);
		text-shadow: 6px 6px 8px rgb(193, 113, 113), 0 0 20px rgba(255, 49, 3, 0.628);
	}
	100% {
		transform: scale(1);
		text-shadow: 4px 4px 6px rgb(193, 113, 113), 0 0 10px rgba(255, 49, 3, 0.628);
	}
  }